<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./navbar.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>0-meets-1</title>
</head>
<body>


<div class="app">


    <main class="main">
        <header class="main__header">
            <div class="main__search ml-3">
                <input type="search" size="58" placeholder="Search"/>
                <span class="icon-search">
               <svg width="17" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.494 12.006a7.275 7.275 0 001.487-4.462C14.981 3.4 11.688 0 7.544 0S0 3.4 0 7.544s3.4 7.544 7.544 7.544c1.7 0 3.294-.532 4.462-1.488l3.188 3.188c.212.212.531.318.743.318.213 0 .532-.106.744-.319a1.027 1.027 0 000-1.487l-3.187-3.294zm-5.95.85c-2.975 0-5.419-2.337-5.419-5.312s2.444-5.419 5.419-5.419c2.975 0 5.419 2.444 5.419 5.419 0 2.975-2.444 5.312-5.42 5.312z"
                        fill="#A4A8BD"/>
               </svg>
            </span>
            </div>
            <div class="main__search">
                <a href="{% url 'addIdeas' %}">
                    <button class="btn btn-danger">+</button>
                </a>

            </div>
            <div class="main__user">
            <span class="main__icon">
                <a href="{% url 'mynetwork' %}" style="background:red">
               <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" rx="11" fill="#fff"/>
                  <path d="M26 30h-4c0 1.1.9 2 2 2s2-.9 2-2zM31 27h-.5c-.7-.7-1.5-1.7-1.5-3v-3c0-2.8-2.2-5-5-5s-5 2.2-5 5v3c0 1.3-.8 2.3-1.5 3H17c-.6 0-1 .4-1 1s.4 1 1 1h14c.6 0 1-.4 1-1s-.4-1-1-1z"
                        fill="#A4A8BD"/>
               </svg>
                    </a>
            </span>
                <div class="main__avatar">

                    <img class="rounded-circle" src={{user.last_name}} width="40" height="40"/>
                </div>
                <div class="main__title">
                    <h5> {{user.username}} </h5>
                    <span class="icon">
                  <svg width="11" height="6" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M9.625.153L5.5 4.278 1.375.153l-.972.972 4.611 4.611a.687.687 0 00.972 0l4.611-4.611-.972-.972z"
                           fill="#A4A8BD"/>
                  </svg>

               </span>
                </div>
            </div>
        </header>

        {% block content %}

        {% endblock %}


    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

</body>
</html>